<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.ASM">
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Asm1">
        <activity android:name=".TinTheoLoaiActivity"></activity>
        <activity android:name=".BaoActivity"/>
        <activity android:name=".XemTinActivity"/>
        <activity android:name=".DanhBaActivity"/>
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCfBvFQ1DS5QyDTzpEKh0HGgX9HZw1CeQs" />

        <activity android:name=".MapActivity" />
        <activity android:name=".MainActivityChinh">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ThemSuaSinhVienActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".LopHocActivity" />
        <activity android:name=".SinhVienActivity" />
        <activity android:name=".ThemSuaLopActivity" />
        <activity
            android:name=".ThemSuaSinhVienActivity"
            tools:ignore="DuplicateActivity" />
    </application>

</manifest>